.content{
    text-decoration: underline;
    text-transform: uppercase;
}
.div1{
    height: 230px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    padding-top: 70px;
}
.cont1{
    text-align: center;
}
.cont2{
    text-align: center;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cont3{
    padding-top: 100px;
    font-size: 1rem;
    font-family: Engravers,Helvetica Chopard,Helvetica Heue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
}
.cont4{
    text-align: center;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cont5{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-size: medium;
}   
.btn{
    width: 400px;
    height: 55px;  
    border-color: white!important
  
}
.butn{
    padding-inline-start:20%;
    padding-inline-end: 20%;
    padding-top: 30px;
}
.i{
    width: 400px;
    height: 400px;
}
.cont6{
    text-align: center;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
.c{
    text-align: center;
    margin-top: 20px;
}
.div2{
    height: 200px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    padding-top: 70px;
}
.watch{
    padding-top: 20px;
    width: 100%;
    
}
.custom-prev{
    position: absolute;
    top: 200px !important;
}
.custom-next{
    position: absolute;
    left: 200px;
    top: 100px;
}
