.content1{
    text-decoration: underline;
    text-transform: uppercase;
	color: white;
}
.div1{
    height: 230px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    padding-top: 70px;
}
.cont1{
    text-align: center;
}
.cont2{
    text-align: center;
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cont3{
    padding-top: 100px;
    font-size: 1rem;
    font-family: Engravers,Helvetica Chopard,Helvetica Heue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
}
.cont4{
    text-align: center;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.cont5{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    font-size: medium;
}   
.btn{
    width: 400px;
    height: 55px;  
    border-color: white!important
  
}
.butn{
    padding-inline-start:20%;
    padding-inline-end: 20%;
    padding-top: 30px;
}
.i{
    width: 400px;
    height: 400px;
}
.cont6{
    text-align: center;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
}
.c{
    text-align: center;
    margin-top: 20px;
}
.div2{
    height: 200px;
    width: 100%;
    background-color: rgb(252, 252, 252);
    padding-top: 70px;
}
.watch{
    padding-top: 20px;
    width: 100%;
    
}
.custom-prev{
    position: absolute;
    top: 200px !important;
}
.custom-next{
    position: absolute;
    left: 200px;
    top: 100px;
}
.banner{
    width: 100%;
}
.about{
    font-family: -webkit-body;
    font-size: smaller;
}
.main_image{
    width: 100%;
    height:560px;
}
.similar{
    text-align: center;
    margin-top: 20px;
}

#detailsbox{
    background-color: #f9e8d1;
    width: 68%;
}
.content{
    background-color: rgb(252, 245, 245);
    color: #030303;
    font-size: small;
    width: 200px;
    height: 30px;
    justify-items: center;
    /* margin-left: 80px; */
    border: none;
    text-align: center;
    text-transform: uppercase;
	text-decoration: none;
}
.content:hover{
    background-color: #030303;
    color:white;

}
.global1{
    height: 20px;
    width: 47px;
    padding-inline: 10px;
    color: #030303;
}
.global1:hover{
    color: #e01212;
}
.global3{
    height: 20px;
    width: 47px;
    padding-inline: 10px;
    color: #030303;
}

.global2{
    height: 22px;
    width: 51px;
    padding-inline: 10px;
    color: #030303;
}
.global2:hover{
    color: #2e7005;
}
.fav{
    height: 42px;
    border-width: 1px;
    background-color: #fff;
    margin-inline: 3px;
    border-width: 1px;
}


/*------------------------------------------------------------------
[Table of contents]

1.  Template default CSS
	1.1	Variables
	1.2	Mixins
	1.3	Flexbox
	1.4	Reset
2.  Helper Css
3.  Header Section
4.  Hero Section
5.  Banner Section
6.  Product Section
7.  Intagram Section
8.  Latest Section
9.  Contact
10.  Footer Style
-------------------------------------------------------------------*/

/*----------------------------------------*/
/* Template default CSS
/*----------------------------------------*/

html,
body {
	height: 100%;
	font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Nunito Sans", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 15px;
	font-family: "Nunito Sans", sans-serif;
	color: #3d3d3d;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.sectiontitle {
	margin-bottom: 45px;
	text-align: center;
}

.sectiontitle span {
	color: #e53637;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	display: block;
}

.sectiontitle h2 {
	color: #111111;
	font-weight: 700;
	line-height: 46px;
}

.setbg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primarybtn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 30px;
	color: #ffffff;
	background: #000000;
	letter-spacing: 4px;
}

.sitebtn {
	font-size: 14px;
	color: #ffffff;
	background: #111111;
	font-weight: 700;
	border: none;
	text-transform: uppercase;
	display: inline-block;
	padding: 14px 30px;
}

/* Preloder */


/*---------------------
  Product
-----------------------*/

.product {
	padding-top: 0;
	padding-bottom: 60px;
}

.filter__controls {
	text-align: center;
	margin-bottom: 45px;
}

.filter__controls li {
	color: #b7b7b7;
	font-size: 24px;
	font-weight: 700;
	list-style: none;
	display: inline-block;
	margin-right: 88px;
	cursor: pointer;
}

.filter__controls li:last-child {
	margin-right: 0;
}

.filter__controls li.active {
	color: #111111;
}

.product__item {
	overflow: hidden;
	margin-bottom: 40px;
}

.product__item.sale .product__item__pic .label {
	color: #ffffff;
	background: #111111;
}

.product__item.sale .product__item__text .rating i {
	color: #f7941d;
}

.product__item.sale .product__item__text .rating i:nth-last-child(1) {
	color: #b7b7b7;
}

.product__item:hover .product__item__pic .product__hover {
	right: 20px;
	opacity: 1;
}

.product__item:hover .product__item__text a {
	top: 22px;
	opacity: 1;
	visibility: visible;
}

.product__item:hover .product__item__text h6 {
	opacity: 0;
}

.product__item:hover .product__item__text .product__color__select {
	opacity: 1;
}

.product__item__pic {
	height: 260px;
	position: relative;
	background-position: center center;
}

.product__item__pic .label {
	color: #111111;
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 20px;
}

.product__item__pic .product__hover {
	position: absolute;
	right: -200px;
	top: 20px;
	-webkit-transition: all, 0.8s;
	-o-transition: all, 0.8s;
	transition: all, 0.8s;
}

.product__item__pic .product__hover li {
	list-style: none;
	margin-bottom: 10px;
	position: relative;
}

.product__item__pic .product__hover li:hover span {
	opacity: 1;
	visibility: visible;
}

.product__item__pic .product__hover li span {
	color: #ffffff;
	background: #111111;
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	position: absolute;
	left: -78px;
	top: 5px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__pic .product__hover li span:after {
	position: absolute;
	right: -2px;
	top: 5px;
	height: 15px;
	width: 15px;
	background: #111111;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
}

.product__item__pic .product__hover li img {
	background: #ffffff;
	padding: 10px;
	display: inline-block;
}

.product__item__text {
	padding-top: 25px;
	position: relative;
}

.product__item__text a {
	font-size: 15px;
	color: #e53637;
	font-weight: 700;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text h6 {
	color: #111111;
	font-size: 15px;
	font-weight: 600;
	margin-bottom: 5px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text .rating {
	margin-bottom: 6px;
}

.product__item__text .rating i {
	font-size: 14px;
	color: #b7b7b7;
	margin-right: -5px;
}

.product__item__text h5 {
	color: #0d0d0d;
	font-weight: 700;
}

.product__item__text .product__color__select {
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__text .product__color__select label {
	display: inline-block;
	height: 12px;
	width: 12px;
	background: #5e64d1;
	border-radius: 50%;
	margin-bottom: 0;
	margin-right: 5px;
	position: relative;
	cursor: pointer;
}

.product__item__text .product__color__select label.black {
	background: #404a47;
}

.product__item__text .product__color__select label.grey {
	background: #d5a667;
}

.product__item__text .product__color__select label.active:after {
	opacity: 1;
}

.product__item__text .product__color__select label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 18px;
	width: 18px;
	border: 1px solid #b9b9b9;
	content: "";
	border-radius: 50%;
	opacity: 0;
}

.product__item__text .product__color__select label input {
	position: absolute;
	visibility: hidden;
}

/*---------------------
  Shop
-----------------------*/

.product__details__pic {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-align: center;
	background: #f3f2ee;
	padding: 40px 0 60px;
	margin-bottom: 100px;
}

.product__details__pic .navtabs {
	border-bottom: none;
	width: 105px;
}

.product__details__pic .navtabs .navitem {
	margin-bottom: 10px;
}

.product__details__pic .navtabs .navitem:last-child {
	margin-bottom: 0;
}

.product__details__pic .navtabs .navitem .navlink {
	padding: 0;
	display: block;
}

.product__details__pic .navtabs .navitem .navlink .product__thumb__pic {
	height: 120px;
	width: 95px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.product__details__pic .navtabs .navitem .navlink .product__thumb__pic i {
	height: 56px;
	width: 56px;
	border: 4px solid #ffffff;
	border-radius: 50%;
	font-size: 20px;
	color: #ffffff;
	line-height: 48px;
	display: inline-block;
	text-align: center;
}

.product__details__pic .navtabs .navitem.show .navlink,
.product__details__pic .navtabs .navlink.active {
	background-color: transparent;
	border-color: transparent;
}

.product__details__breadcrumb {
	margin-bottom: 30px;
}

.product__details__breadcrumb a {
	font-size: 15px;
	color: #111111;
	margin-right: 18px;
	display: inline-block;
	position: relative;
}

.product__details__breadcrumb a:after {
	position: absolute;
	right: -14px;
	top: 0;
	content: "ï„…";
	font-family: "FontAwesome";
}

.product__details__breadcrumb span {
	font-size: 15px;
	color: #b7b7b7;
	display: inline-block;
}

.product__details__pic__item {
	position: relative;
}

.product__details__pic__item a {
	height: 56px;
	width: 56px;
	border: 4px solid #ffffff;
	border-radius: 50%;
	font-size: 20px;
	color: #ffffff;
	line-height: 48px;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -28px;
	margin-left: -28px;
}

.product__details__text {
	text-align: center;
}

.product__details__text h4 {
	color: #111111;
	font-weight: 700;
	margin-bottom: 10px;
}

.product__details__text .rating {
	margin-bottom: 20px;
}

.product__details__text .rating i {
	font-size: 15px;
	color: #f7941d;
	display: inline-block;
	margin-right: -5px;
}

.product__details__text .rating span {
	display: inline-block;
	color: #3d3d3d;
	margin-left: 5px;
}

.product__details__text h3 {
	color: #0d0d0d;
	font-weight: 700;
	margin-bottom: 16px;
}

.product__details__text h3 span {
	color: #b7b7b7;
	font-size: 20px;
	font-weight: 400;
	margin-left: 10px;
	text-decoration: line-through;
}

.product__details__text p {
	margin-bottom: 35px;
}

.product__details__option {
	margin-bottom: 30px;
}

.product__details__option__size {
	display: inline-block;
	margin-right: 50px;
}

.product__details__option__size span {
	color: #111111;
	display: inline-block;
	margin-right: 10px;
}

.product__details__option__size label {
	color: #111111;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #e5e5e5;
	padding: 6px 15px;
	margin-bottom: 0;
	margin-right: 5px;
	cursor: pointer;
}

.product__details__option__size label.active {
	background: #111111;
	color: #ffffff;
	border-color: #111111;
}

.product__details__option__size label input {
	position: absolute;
	visibility: hidden;
}

.product__details__option__color {
	display: inline-block;
	position: relative;
	top: 10px;
}

.product__details__option__color span {
	color: #111111;
	display: inline-block;
	margin-right: 10px;
	position: relative;
	top: -9px;
}

.product__details__option__color label {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
	margin-bottom: 0;
	display: inline-block;
	cursor: pointer;
}

.product__details__option__color label.c1 {
	background: #0b090c;
}

.product__details__option__color label.c2 {
	background: #20315f;
}

.product__details__option__color label.c3 {
	background: #f1af4d;
}

.product__details__option__color label.c4 {
	background: #ed1c24;
}

.product__details__option__color label.c9 {
	background: #ffffff;
}

.product__details__option__color label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 36px;
	width: 36px;
	border: 1px solid #e5e5e5;
	content: "";
	border-radius: 50%;
}

.product__details__option__color label input {
	position: absolute;
	visibility: hidden;
}

.product__details__cart__option {
	margin-bottom: 25px;
}

.product__details__cart__option .quantity {
	display: inline-block;
	margin-right: 20px;
}

.product__details__cart__option .quantity .proqty {
	width: 100px;
	height: 40px;
	border: 1px solid #e5e5e5;
	position: relative;
}

.product__details__cart__option .quantity .proqty input {
	color: #0d0d0d;
	font-size: 15px;
	font-weight: 700;
	width: 70px;
	height: 100%;
	text-align: center;
	border: none;
}

.product__details__cart__option .quantity .proqty .qtybtn {
	font-size: 18px;
	color: #0d0d0d;
	position: absolute;
	right: 15px;
	top: 3px;
	height: 10px;
	width: 10px;
	cursor: pointer;
	font-weight: 600;
}

.product__details__cart__option .quantity .proqty .qtybtn.inc {
	top: 16px;
}

.product__details__btns__option {
	margin-bottom: 40px;
}

.product__details__btns__option a {
	display: inline-block;
	font-size: 13px;
	color: #3d3d3d;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 700;
	margin-right: 20px;
}

.product__details__btns__option a:last-child {
	margin-right: 0;
}

.product__details__last__option h5 {
	color: #111111;
	font-weight: 700;
	font-size: 20px;
	position: relative;
	margin-bottom: 26px;
}

.product__details__last__option h5 span {
	background: #ffffff;
	padding: 0 30px;
}

.product__details__last__option h5:before {
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	height: 1px;
	width: 460px;
	background: #e5e5e5;
	content: "";
	z-index: -1;
	margin: 0 auto;
}

.product__details__last__option ul {
	padding-top: 40px;
}

.product__details__last__option ul li {
	list-style: none;
	font-size: 15px;
	color: #111111;
	font-weight: 700;
	line-height: 30px;
}

.product__details__last__option ul li span {
	font-weight: 400;
	color: #b7b7b7;
}

.product__details__tab {
	margin-top: 30px;
	padding-top: 60px;
}

.product__details__tab .navtabs {
	border-bottom: 1px solid #e5e5e5;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.product__details__tab .navtabs .navitem {
	margin-right: 50px;
}

.product__details__tab .navtabs .navitem:last-child {
	margin-right: 0;
}

.product__details__tab .navtabs .navitem .navlink {
	font-size: 20px;
	color: #b7b7b7;
	padding: 0;
	border: none;
	font-weight: 700;
	padding-bottom: 10px;
	border-bottom: 2px solid transparent;
}

.product__details__tab .navtabs .navitem .navlink.active {
	border-bottom: 2px solid #e53637;
}

.product__details__tab__content {
	padding-top: 35px;
}

.tabcontainerrow {
	gap: 10px; /* Adjust this value as per your desired spacing */
}

.note {
	color: #111111;
	font-size: 18px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 25px;
}

.product__details__tab__content__item {
	margin-bottom: 30px;
}

.product__details__tab__content__item:last-child {
	margin-bottom: 0;
}

.product__details__tab__content__item h5 {
	color: #111111;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 12px;
}

.product__details__tab__content__item p {
	margin-bottom: 0;
}


