*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
 html,body{
    height: 100%;
  }
body{
    display: grid;
    /* place-items: center; */
    background: #dde1e7;
    text-align: center;
  }
.content{
    width: 330px;
    padding: 40px 30px;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                 2px 2px 5px rgba(94,104,121,0.288);
                 
  }
  .content .text{
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 35px;
    color: #595959;
  }
  .field{
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
  }
  .field:nth-child(2){
    margin-top: 20px;
  }
  .field input{
    height: 100%;
    width: 100%;
    padding-left: 45px;
    outline: none;
    border: none;
    font-size: 18px;
    background: #dde1e7;
    color: #595959;
    border-radius: 25px;
    box-shadow: inset 2px 2px 5px #BABECC,
    inset -5px -5px 10px #ffffff73;
  }
  .field input:focus{
    box-shadow: inset 1px 1px 2px #BABECC,
    inset -1px -1px 2px #ffffff73;
  }
  .field span{
    position: absolute;
    color: #595959;
    width: 50px;
    line-height: 50px;
  }
  .field label{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45px;
    pointer-events: none;
    color: #666666;
  }
  .field input:valid ~ label{
    opacity: 0;
  }
  .forgot-pass{
    text-align: left;
    margin: 10px 0 10px 5px;
  }
  .forgot-pass a{
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
  }
  .forgot-pass:hover a{
    text-decoration: underline;
  }
  
  .sign-up{
    margin: 10px 0;
    color: #595959;
    font-size: 16px;
  }
  .sign-up a{
    color: #3498db;
    text-decoration: none;
  }
  .sign-up a:hover{
    text-decoration: underline;
  }
.button{
    margin: 15px 0;
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    font-weight: 600;
    background: #dde1e7;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #595959;
    box-shadow: 2px 2px 5px #BABECC,
               -5px -5px 10px #ffffff73;
  }
  .button:focus{
    color: red;
    box-shadow: inset 2px 2px 5px #BABECC,
    inset -5px -5px 10px #ffffff73;
  }

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(130, 106, 251);
} */
.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
.login{
  font-size: small;
  color: gray;
  text-decoration: none;
}
.login:hover{
  color: red;
}
.loginn{
  font-size: small;
  color: gray;
  text-decoration: none;
}
.inpt{
  background: white;
  border-radius: 14px;
  font-size: revert;
  padding-left: 4%;
  margin-bottom: 5px;
}